<div class="container">
   <div class="ui card">
      <h1>Team Generator</h1>
      <ul *ngIf="members.length > 0" class="list">
         <li *ngFor="let value of members">
            {{ value }}
         </li>
      </ul>

      <ul *ngIf="members.length === 0" class="list">
         <li class="text-red">No Teams Yet...</li>
      </ul>

      <div class="add-members-container">
         <input
            #addMemberInput
            type="text"
            placeholder="Name"
            (input)="onInput(addMemberInput.value)"
            [value]="newMemberName"
         />
         <button (click)="addMember()">Add</button>
      </div>

      <div class="input-container">
         <input
            #numberOfTeamsInput
            type="number"
            placeholder="# of teams"
            (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
            [value]="numberOfTeams"
         />
         <button (click)="generateTeams()">Generate</button>
      </div>

      <p *ngIf="errorMsg" class="text-red">{{ errorMsg }}</p>
   </div>

   <div *ngIf="teams.length > 0" class="teams-container">
      <app-team *ngFor="let value of teams; let i = index" [teams]="value" [index]="i"></app-team>
   </div>
</div>
